{% extends "account/auth/base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block main %}
<div class="body d-flex p-0 ">
    <div class="container-xxl">

        <div class="row g-0">
            <div class="col-lg-6 d-none d-lg-flex justify-content-center align-items-center rounded-lg auth-h100">
                <div style="max-width: 25rem;">
                    <div class="text-center mb-5">
                          <span class="logo-icon">
                    <img style="width:4rem;" src="{% static 'img/lot_logo.png' %}" alt="">
                </span>
                    </div>
                    <div class="mb-5">
                        <h2 class="color-900 text-center">Welcome</h2>
                        <h6 class="color-900 text-center">to</h6>
                        <h4 class="color-600 text-center">Layers of Truth International Ministry</h4>
                    </div>
                    <!-- Image block -->
                    <div class="">
                        <img src="{% static 'assets/images/login-img.svg' %}" alt="login-img">
                    </div>
                </div>
            </div>
            <div class="col-lg-6 d-flex justify-content-center align-items-center border-0 rounded-lg auth-h100">
                <div class="w-100 p-3 p-md-5 card border-0 bg-dark text-light" style="max-width: 32rem;">
                    <!-- Form -->
                    <form class="row g-1 p-3" method="post" id="myForm">
                        <div class="col-12 text-center mb-1 mb-lg-5">
                            <div class="m-3 phone">
                                <img style="width:3rem;" src="{% static 'img/lot_logo.png' %}" alt="">
                            </div>
                            <h1>Create your account</h1>
                            <span> Spending Value on what really matters </span>
                        </div>
                       <hr>
                       {% csrf_token %}
                        <div style="max-height: 50vh; overflow: scroll;">
                            {{form | crispy}}
                            <div class="col-12 text-center mt-4">
                                <button type="submit" class="btn btn-lg btn-block btn-light lift text-uppercase" atl="signin">SIGN Up</button>
                            </div>
                        </div>

                        <div class="col-12 text-center mt-4">
                            <span class="text-muted">Already have an account?   <a href="{% url 'login' %}" class="text-secondary">Sign in here</a></span>
                        </div>
                    </form>
                    <!-- End Form -->
                </div>
            </div>
        </div> <!-- End Row -->
    </div>
</div>
{% endblock main %}