{% extends "base.html" %}
{% load static %}
{% block main %}
<div class="container">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <h2 class="mt-4 mb-3">Payment History</h2>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">S/N</th>
                        <th scope="col">Transaction ID</th>
                        <th scope="col">Amount</th>
                        <th scope="col">Date</th>
                        <th scope="col">Status</th>
                    </tr>
                </thead>
                <tbody>
                    {% for payment in payments %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td><a href="{% url 'verify_payment' payment.ref %}">{{ payment.ref }}</a></td>
                        <td>&#8358;{{ payment.amount }}</td>
                        <td>{{ payment.date_created }}</td>
                        <td>{% if payment.verified %} Verified {% else %} Pending {% endif %}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock main %}
