{% extends "base.html" %}
{% load static %}
{% block title %} Return Policy | {% endblock title %}
{% block main %}
<header>
  <h1>Return Policy</h1>
</header>
<main>
  <style>
    section{
      margin:20px;
    }
    p,li{
      padding-bottom:10px;
    }
  </style>
  <section>
    <h2>Our Commitment to You</h2>
    <p>At LotStore, we are committed to providing exceptional products and customer service. We want you to be completely satisfied with your purchase, and we understand that sometimes returns or exchanges may be necessary. Our return policy is designed to make the process as easy and transparent as possible.</p>
  </section>
  <section>
    <h2>Return Criteria</h2>
    <p>Before initiating a return, please review the following criteria:</p>
    <ul>
      <li><strong>Return Period:</strong> Items must be returned within 3 days of delivery. This allows us to process your return or exchange in a timely manner.</li>
      <li><strong>Condition:</strong> Items must be in their original condition and packaging, with all tags attached. We reserve the right to refuse returns that do not meet these criteria.</li>
      <li><strong>Proof of Purchase:</strong> Proof of purchase (e.g., order confirmation, receipt) is required for all returns. Please include this information with your return shipment.</li>
    </ul>
  </section>
  <section>
    <h2>Refund Process</h2>
    <p>Our refund process is simple and straightforward:</p>
    <ol>
      <li><strong>Contact Us:</strong> To initiate a return or exchange, please contact our Customer Service team at store@layersoftruth.org or +2348169404088. Provide your order details and reason for return.</li>
      <li><strong>Return Authorization:</strong> Once your return request is approved, we will provide you with a Return Authorization (RA) number and instructions for returning the item(s).</li>
      <li><strong>Ship the Item(s):</strong> Package the item(s) securely and ship them back to us using a trackable shipping method. Please include the RA number on the package to ensure prompt processing.</li>
      <li><strong>Processing:</strong> Upon receipt of the returned item(s), we will inspect them to ensure they meet our return criteria. Once approved, we will process your refund or exchange within 3 business days.</li>
    </ol>
  </section>
  <section>
    <h2>Important Notice</h2>
    <p>
      LotStore reserves the right to refuse refunds or exchanges if the product does not meet the eligibility criteria outlined above or if the reason for the refund or exchange is deemed invalid. We appreciate your understanding and cooperation in adhering to our refund and exchange policy. If you have any questions or concerns, please don't hesitate to contact us. Your satisfaction is our top priority.
    </p>
  </section>
</main>
<footer>
  <p>If you have any questions or concerns about our return policy, please contact us at <a href="mailto:store@layersoftruth.org">store@layersoftruth.org</a>.</p>
</footer>

{% endblock main %}
